*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

header{
    z-index: 999;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 180px;
    transition: 0.5s ease;
}
#header{
    margin-bottom: 50px;
}

header .logo{
    color: #00365f;
    font-size: 30px;
    font-weight: 900;
    text-transform: uppercase;
    text-decoration: none;
}

header .navigation{
    position: relative;
}

header .navigation .navigation-items a{
    position: relative;
    color: white;
    font-size: 20px;
    font-weight: 700;
    text-decoration: none;
    margin-left: 25px;
    transition: 0.3s ease;
}

header .navigation .navigation-items a::before{
    content: '';
    position: absolute;
    background: white;
    width: 0;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s ease;
}

header .navigation .navigation-items a:hover::before{
    width: 100%;
}

.logIn{
    background-color: #2696E9;
    padding: 15px 35px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

.signUp{
    background-color: purple;
    padding: 15px 35px;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
}

main{
    padding: 100px 200px;
}

.home{
    position: relative;
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background: linear-gradient(to right, #2696E9, #11142a);
}

.home::before{
    z-index: 777;
    content: '';
    position: absolute;
    background: rgba(3,96, 251, 0.3);
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.home .videos{
    z-index: 000;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.home .content{
    z-index: 888;
    color: white;
    width: 70%;
    margin-top: 50px;
    display: none;
}

.home .content.active{
    display: block;
}

.home .content h1{
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 5px;
    line-height: 75%;
    margin-bottom: 40px;
}

.home .content h1 span{
    font-size: 70px;
    font-weight: 600;
    color: #2696E9;
}

.home .content p{
    margin-bottom: 65px;   
    size: 30px;
}

.para{
    font-size: 30px;
}

.para2{
    font-size: 30px;
    color: #2696E9;
    font-weight: bolder;
}

.home .content a{
    background-color: #fff;
    padding: 15px 35px;
    color: #1680AC;
    font-size: 25px;
    font-weight: 500;
    text-decoration: none;
    border-radius: 2px;
    transition: .4s;
}

.videoSlider{
    z-index: 888;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(80px);
    margin-bottom: 12px;
}

.videoSlider .navBtn{
    width: 12px;
    height: 12px;
    background: white;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255,255, 255, 0.5);
    transition: 0.3s ease;
}

.videoSlider .navBtn:not(:last-child){
    margin-right: 20px;
}

.videoSlider .navBtn:hover{
    transform: scale(1.2);
}

.videoSlider .navBtn.active{
    background: #2696E9;
}

.videos{
    position: absolute;
    width: 100%;
    clip-path: circle(0% at 0 50%);
}

.videos.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path;
}

